/*[Jerry] add for custom loacl font*/
@font-face {
  font-family: "Hunger Games";
  src: url('/assets/Hunger_Games');
}

body {
  margin: 42px;
}

/*use the fonts by default css safe font in all browser*/
h1 {
  /*google = css build in fonts*/
  font-family: "Hunger Games", "Arial Black", sans-serif;
  font-size: 3.5em;
}

p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
